.container{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
.min_height{
  min-height: 75%;
}
.start{
  justify-content: flex-start;
}
.column{
  justify-content: flex-start;
  flex-direction: column;
}