.message{
  border: 1px solid #000;
  max-width: 100%;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}
.success{
  border-color: rgb(4, 177, 4);
  color: #000;
  background-color: rgb(173, 246, 162);
}
.error{
  border-color: red;
  color: rgb(189, 25, 25);
  background-color: rgb(251, 186, 186);
}